---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Guidelines from '../components/guidelines/Guidelines.astro';
---

<Layout>
		<Header />
			<main x-data class="pb-6">
				<Guidelines />
			</main>  
		<Footer />
</Layout>

 


 