<footer class="bg-white px-4 py-2 border-t border-gray-300 fixed w-full bottom-0">
  <ul class="flex items-center gap-2">
    <li>Version 4.0</li>
    <li><a class="text-blue-600" href="https://github.com/mpaiva/wcag-tokens/issues/new/choose"
        target="_blank">Feedback</a></li>
  </ul>
</footer>